<html data-bs-theme='dark'>
<head>
    <title><%= title %></title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/public/css/bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="/public/css/fontawesome/fontawesome.min.css"/>
    <link rel="stylesheet" href="/public/css/fontawesome/all.min.css"/>
    <link rel="stylesheet" href="/secure/css/style.css"/>
    <script src="/public/js/vue.global.js"></script>
</head>
<body>
