<%- include('header', {title: title}) -%>


<div id="app">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <img id="brand-image" src="/public/img/cat-jam.gif" class="rounded mx-auto d-block"/>
                    <div class="card-body">
                        <div class="row">
                            <h5 class="card-title text-center">
                                <%= title %>
                            </h5>
                            <h1 class="card-title text-center"
                                :class="{'text-success': balance.isPositive, 'text-danger': !balance.isPositive}">
                                {{ moneyToString(balance.total) }}
                            </h1>
                            <span class="text-center text-sm-center">{{ moneyToString(balance.vat.total) }}</span>
                        </div>
                        <div class="row">
                            <div class="col">
                                <button type="button" class="btn btn-success w-100" data-bs-toggle="modal"
                                        data-bs-target="#depositModal">
                                    <i class="fa-solid fa-arrow-up"></i>
                                </button>
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-danger w-100" data-bs-toggle="modal"
                                        data-bs-target="#withdrawModal">
                                    <i class="fa-solid fa-arrow-down"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col">
                <div class="input-group mb-3">
                    <input id="effectiveFrom" class="form-control"
                           aria-describedby="effectiveDivider" type="datetime-local"
                           :value="convertLocalDateStringForInput(effectiveFrom)"
                           disabled/>
                    <span class="input-group-text" id="effectiveDivider">-</span>
                    <input id="effectiveTo" class="form-control"
                           aria-describedby="effectiveDivider" type="datetime-local"
                           :value="convertLocalDateStringForInput(effectiveTo)"
                           disabled/>
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col">
                <div class="card">
                    <div class="row">
                        <div class="col">
                            <table class="table">
                                <thead>
                                <th scope="col">#</th>
                                <th scope="col">Buchungsdatum</th>
                                <th scope="col">Betrag</th>
                                </thead>
                                <tbody>
                                <tr :id="'row-' + transaction.id" @click="spawnTransactionModal(transaction.id)"
                                    v-for="transaction in transactions.data">
                                    <th :class="{'positive-value': transaction.isPositive, 'negative-value': !transaction.isPositive}"
                                        scope="row">
                                        {{ transaction.id }}
                                    </th>
                                    <td>{{ dateToString(transaction.effectiveTimestamp) }}</td>
                                    <td :class="{'positive-value': transaction.isPositive, 'negative-value': !transaction.isPositive}">
                                        {{
                                        moneyToString(transaction.value)
                                        }}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row ms-1 justify-content-center">
                        <div class="col col-sm-2">
                            <div class="input-group mb-3">
                                <button @click="prevPage" :disabled="transactions.start === 0" class="btn btn-primary">
                                    <i class="fa-solid fa-arrow-left"></i>
                                </button>
                                <input id="tableStart" class="form-control"
                                       :value="transactions.start + 1"
                                       aria-describedby="startEndDivider" type="text" disabled/>
                                <span class="input-group-text" id="startEndDivider">-</span>
                                <input id="tableEnd" class="form-control"
                                       :value="transactions.start + transactions.count"
                                       aria-describedby="startEndDivider"
                                       type="text" disabled/>
                                <button @click="nextPage"
                                        :disabled="transactions.start + transactions.count >= transactions.total"
                                        class="btn btn-primary">
                                    <i class="fa-solid fa-arrow-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="depositModal" tabindex="-1" aria-labelledby="depositModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="depositModalLabel">Einzahlen</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="mb-3">
                            <label for="group-value" class="form-label">Betrag</label>
                            <div id="group-value" class="input-group mb-3">
                                <span class="input-group-text" id="depositValueAddon">EUR</span>
                                <input id="depositValue" class="form-control"
                                       aria-describedby="depositValueAddon" type="number" step=".01"/>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="depositCategory" class="form-label">Kategorie</label>
                            <select id="depositCategory" class="form-control">
                                <option v-for="category in categories" :value="category.name"
                                        :selected="category.id === 1">
                                    {{ category.name }}
                                </option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="depositDateTime" class="form-label">Buchungsdatum</label>
                            <input id="depositDateTime" class="form-control" type="datetime-local"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="resetDepositValues()"
                            data-bs-dismiss="modal">
                        Doch nicht
                    </button>
                    <button type="button" class="btn btn-primary" @click="submitDeposit">
                        Buchen
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="withdrawModal" tabindex="-1" aria-labelledby="withdrawModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="withdrawModalLabel">Auszahlen</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="mb-3">
                            <label for="withdraw-group-value" class="form-label">Betrag</label>
                            <div id="withdraw-group-value" class="input-group mb-3">
                                <span class="input-group-text" id="withdrawValueAddon">EUR</span>
                                <input id="withdrawValue" class="form-control"
                                       aria-describedby="withdrawValueAddon" type="number" step=".01"/>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="withdraw-group-value19" class="form-label">19% Anteil | 19% Steuern</label>
                            <div id="withdraw-group-value19" class="input-group mb-3">
                                <span class="input-group-text" id="withdrawValue19addon">EUR</span>
                                <input id="withdrawValue19" class="form-control"
                                       aria-describedby="withdrawValue19addon" type="number" step=".01"/>
                                <span class="input-group-text" id="withdrawVat19addon">EUR</span>
                                <input id="withdrawVat19" class="form-control" aria-describedby="withdrawVat19addon"
                                       type="text" step=".01" disabled/>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="withdraw-group-value7" class="form-label">7% Anteil | 7% Steuern</label>
                            <div id="withdraw-group-value7" class="input-group mb-3">
                                <span class="input-group-text" id="withdrawValue7addon">EUR</span>
                                <input id="withdrawValue7" class="form-control"
                                       aria-describedby="withdrawValue7addon" type="number" step=".01"/>
                                <span class="input-group-text" id="withdrawVat7addon">EUR</span>
                                <input id="withdrawVat7" class="form-control" aria-describedby="withdrawVat7addon"
                                       type="text" step=".01" disabled/>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="withdrawCategory" class="form-label">Kategorie</label>
                            <select id="withdrawCategory" class="form-control">
                                <option v-for="category in categories" :value="category.name"
                                        :selected="category.id === 1">
                                    {{ category.name }}
                                </option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="withdrawDateTime" class="form-label">Buchungsdatum</label>
                            <input id="withdrawDateTime" class="form-control" type="datetime-local"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="resetWithdrawValues()"
                            data-bs-dismiss="modal">
                        Doch nicht
                    </button>
                    <button type="button" class="btn btn-primary" @click="submitWithdrawal">
                        Buchen
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="transactionModal" tabindex="-1" aria-labelledby="transactionModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="transactionModalLabel">Transaktion</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="mb-3">
                            <label for="transactionId" class="form-label">ID</label>
                            <input id="transactionId" class="form-control" type="text" :value="detailTransaction.id"
                                   disabled>
                        </div>
                        <div class="mb-3">
                            <label for="transactionCategory" class="form-label">Kategorie</label>
                            <input id="transactionCategory" class="form-control" type="text"
                                   :value="detailTransaction.category" disabled>
                        </div>
                        <div class="mb-3">
                            <label for="transactionInsertTimestamp" class="form-label">Erstelldatum</label>
                            <input id="transactionInsertTimestamp" class="form-control" type="text"
                                   :value="detailTransaction.insertTimestamp" disabled>
                        </div>
                        <div class="mb-3">
                            <label for="transactionEffectiveTimestamp" class="form-label">Buchungsdatum</label>
                            <input id="transactionEffectiveTimestamp" class="form-control" type="text"
                                   :value="detailTransaction.effectiveTimestamp" disabled>
                        </div>
                        <div class="mb-3">
                            <label for="transaction-group-value19" class="form-label">19% Anteil | 19% Steuern</label>
                            <div id="transaction-group-value19" class="input-group mb-3">
                                <span class="input-group-text" id="transactionValue19addon">EUR</span>
                                <input id="transactionValue19" class="form-control"
                                       aria-describedby="transactionValue19addon" type="text"
                                       :value="amountToString(detailTransaction.value19)" disabled/>
                                <span class="input-group-text" id="transactionVat19addon">EUR</span>
                                <input id="transactionVat19" class="form-control"
                                       aria-describedby="transactionVat19addon"
                                       type="text" :value="amountToString(detailTransaction.vat19)" disabled/>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="transaction-group-value7" class="form-label">7% Anteil | 7% Steuern</label>
                            <div id="transaction-group-value7" class="input-group mb-3">
                                <span class="input-group-text" id="transactionValue7addon">EUR</span>
                                <input id="transactionValue7" class="form-control"
                                       aria-describedby="transactionValue7addon" type="text"
                                       :value="amountToString(detailTransaction.value7)" disabled/>
                                <span class="input-group-text" id="transactionVat7addon">EUR</span>
                                <input id="transactionVat7" class="form-control" aria-describedby="transactionVat7addon"
                                       type="text" :value="amountToString(detailTransaction.vat7)" disabled/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
                        Ok cool
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/secure/js/index.js"></script>


<%- include('footer') -%>
