<%- include('header', {title: title}) -%>


<div id="app">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <img id="brand-image" src="img/ratjam.gif" class="rounded mx-auto d-block"/>
                    <div class="card-body">
                        <h5 class="card-title text-center">
                            <%= title %>
                        </h5>
                        <h1 class="card-title text-center text-success">
                            {{ moneyToString(balance.total) }}
                        </h1>
                        <div class="row">
                            <div class="col">
                                <button type="button" onclick="console.log('yes')" class="btn btn-success w-100">
                                    <i class="fa-solid fa-arrow-up"></i>
                                </button>
                            </div>
                            <div class="col">
                                <button type="button" onclick="console.log('no')" class="btn btn-danger w-100">
                                    <i class="fa-solid fa-arrow-down"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="card">
                    <table class="table">
                        <thead>
                        <th scope="col">#</th>
                        <th scope="col">Buchungsdatum</th>
                        <th scope="col">Betrag</th>
                        <th scope="col">19%</th>
                        <th scope="col">7%</th>
                        </thead>
                        <tbody>
                        <tr v-for="transaction in balance.history">
                            <th :class="{'positive-value': transaction.isPositive, 'negative-value': !transaction.isPositive}"
                                scope="row">
                                {{ transaction.id }}
                            </th>
                            <td>{{ dateToString(transaction.effectiveTimestamp) }}</td>
                            <td :class="{'positive-value': transaction.isPositive, 'negative-value': !transaction.isPositive}">
                                {{
                                    moneyToString(transaction.value)
                                }}
                            </td>
                            <td>{{ moneyToString(transaction.vat19) }}</td>
                            <td>{{ moneyToString(transaction.vat7) }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="js/index.js"></script>


<%- include('footer') -%>
