<%- include('header', {title: title}) -%>

<div id="app">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <form action="/login" method="POST">
                        <div class="mb-3">
                            <label for="password" class="form-label">Passwort</label>
                            <input id="password" name="password" class="form-control" type="password"/>
                        </div>
                        <div class="mb-3">
                            <input id="login" type="submit" class="form-control btn btn-primary" value="Einloggen">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('footer') -%>