<!DOCTYPE html>
<html data-bs-theme='dark'>
<head>
    <title>cantropee</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <style>
        html {
            background: #233142;
        }

        .container {
            background: #455d7a;
        }

        .m-3 {
            margin: 1rem;
        }

        .p-3 {
            padding: 1rem;
        }
    </style>
</head>
<body>
<div id="app">
    <div class="container p-3">
        <form action="/login" method="POST">
            <h1 class="m-3">Login</h1>
            <div class="m-3">
                <label for="email" class="form-label">E-Mail</label>
                <input id="email" name="email" class="form-control" type="text"/>
            </div>
            <div class="m-3">
                <label for="password" class="form-label">Passwort</label>
                <input id="password" name="password" class="form-control" type="password"/>
            </div>
            <div class="m-3">
                <input id="login" type="submit" class="form-control btn btn-primary"
                       value="Anmelden">
            </div>
        </form>
    </div>
</div>
</body>
</html>
