<%- include('header', {title: title}) -%>

<div id="app">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card m-3">
                    <div class="card-body">
                        <img id="brand-image" src="/public/img/cat-jam.gif" class="rounded mx-auto d-block"/>
                        <div class="row">
                            <h5 class="card-title text-center">
                                <%= title %>
                            </h5>

                            <form action="/login" method="POST">
                                <div class="m-3">
                                    <label for="password" class="form-label">Passwort</label>
                                    <input id="password" name="password" class="form-control" type="password"/>
                                </div>
                                <div class="m-3">
                                    <input id="login" type="submit" class="form-control btn btn-primary"
                                           value="Anmelden">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('footer') -%>